.politica-de-privacidade{
    h2{
        margin-top: 15px;
    }
}
.lgpd{
    background:rgba(0,0,0, 0.8);
    color:#fff;
    padding:15px;
    position:fixed;
    bottom:0;
    width:95%;
    margin:0 2.5%;
    z-index: 99999999999999999999999999999;
    display: none;
    .lgpd-container{
      display:flex;
      justify-content: space-between;
      align-items: baseline;
      
      .lgpd-msg{
        font-size:13px;
        width:90%;
        
        a{
          color:#fff;
          text-decoration:underline;
        }
      }
      .lgpd-button-container{
        width:10%;
        .lgpd-btn{
          background:#eab934;
          border:0;
          padding:5px 15px;
          display:block;
          outline:none;
          width:100%;
          font-size:14px;
        }
      }
    }
    
  }